---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  ogType?: string;
}

const { title, description, image, ogType = "website" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.json" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook card -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.savamihai.com" />
<meta property="og:title" content="Portfolio Website" />
<meta
  property="og:description"
  content="Portfolio website with personal projects."
/>
<meta
  property="og:image"
  content="https://firebasestorage.googleapis.com/v0/b/movie-picker-81e11.appspot.com/o/mihai-portfolio.png?alt=media&token=61cd2071-f172-44c5-b8d0-2ecfbb83f3bc"
/>

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content="https://firebasestorage.googleapis.com/v0/b/movie-picker-81e11.appspot.com/o/mihai-portfolio.png?alt=media&token=61cd2071-f172-44c5-b8d0-2ecfbb83f3bc"
/>
